body {
  margin: 0;
  font: 0.8em Arial, sans-serif;
  background-color: #e5ded6;
  height: 100vh;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: rgb(82, 167, 249);
  grid-area: header;
  margin-top: -12px;
}
main {
  background-color: #e5ded6;
  border: 5px solid coral;
  margin-top: 10;
  padding: 1em;
}

footer {
  background-color: rgb(3, 101, 192);
  grid-area: footer;
  padding-bottom: 120px;
}

img {
  border-radius: 2%;
  width: 70%;
  margin: auto;
  display: block;
}

iframe {
  width: 60%;
  height: 200px;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  font-size: small;
  margin-bottom: 5px;
}
.navigation ul li {
  list-style-type: none;
  display: inline;
}

.navigation li a:link,
a:visited {
  color: coral;
  background-color: white;
  border: 2px solid;
  border-radius: 20%;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-style: italic;
  }
}
@media screen and (min-width: 768px) {
  h1,
  h2,
  h3 {
    font-family: "Aclonica";
    font-size: 26px;
  }

  body {
    margin: 0;
    font: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "header header"
      "main main "
      "footer footer";
  }
  iframe {
    position: relative;
    width: 720px;
    height: 480px;
  }
}
